<a href="https://colab.research.google.com/github/cabbi120101/TIL/blob/master/%EA%B3%B5%EB%AA%A8%EC%A0%84%EA%B3%B5%EB%B6%80/%EC%8B%9C%EA%B0%81%ED%99%94%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EB%8C%80%EC%A4%91%EA%B5%90%ED%86%B5(%EB%B2%84%EC%8A%A4%EC%A0%95%EB%A5%98%EC%9E%A5_%EA%B7%B8%EB%9E%98%ED%94%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import DataFrame
import re
import datetime

In [2]:
data_file = '/content/drive/MyDrive/Colab Notebooks/코로나관련/대중교통관련/버스/bus_all_all.csv'
df = pd.read_csv(data_file)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     사용년월 노선번호                    노선명  ... 23시하차총승객수      등록일자 노선ID
0  202104  N37  N37번(송파공영차고지~진관공영차고지)  ...         0  20210503  NaN
1  202104  470       470번(상암차고지~안골마을)  ...        69  20210503  NaN
2  202104  N37  N37번(진관공영차고지~송파공영차고지)  ...         0  20210503  NaN
3  202104  741      741번(진관차고지~헌인릉입구)  ...        60  20210503  NaN
4  202104  100         100번(하계동~용산구청)  ...         9  20210503  NaN

[5 rows x 56 columns]

In [8]:
data_file = '/content/drive/MyDrive/Colab Notebooks/코로나관련/대중교통관련/버스/bus stops address and gu_3.csv'
df2 = pd.read_csv(data_file, encoding='cp949')
df2.rename(columns={'StandardID':'표준버스정류장ID'}, inplace=True)
df2.head()

   Unnamed: 0  표준버스정류장ID  ...                              주소  소속구
0           0  100000001  ...  대한민국 서울특별시 종로1.2.3.4가동 종로2가사거리  종로구
1           1  100000002  ...              대한민국 서울특별시 와룡동 창경궁  종로구
2           2  100000003  ...      대한민국 서울특별시 종로구 명륜4가 195-17  종로구
3           3  100000004  ...          대한민국 서울특별시 종로구 관철동 238  종로구
4           4  100000005  ...        대한민국 서울특별시 종로구 혜화동 85-10  종로구

[5 rows x 10 columns]

In [10]:
big_df = pd.merge(df, df2, how="left", on="표준버스정류장ID")
big_df

           사용년월  노선번호  ...                              주소  소속구
0        202104   N37  ...  대한민국 서울특별시 종로1.2.3.4가동 종로2가사거리  종로구
1        202104   470  ...  대한민국 서울특별시 종로1.2.3.4가동 종로2가사거리  종로구
2        202104   N37  ...  대한민국 서울특별시 종로1.2.3.4가동 종로2가사거리  종로구
3        202104   741  ...  대한민국 서울특별시 종로1.2.3.4가동 종로2가사거리  종로구
4        202104   100  ...              대한민국 서울특별시 와룡동 창경궁  종로구
...         ...   ...  ...                             ...  ...
1168427  202012  9714  ...                             NaN  NaN
1168428  202012  9714  ...                             NaN  NaN
1168429  202012  9714  ...                             NaN  NaN
1168430  202012  9714  ...                             NaN  NaN
1168431  202012  9714  ...                             NaN  NaN

[1168432 rows x 65 columns]

In [14]:
big_df[big_df['소속구'].isnull()]

           사용년월  노선번호                      노선명  표준버스정류장ID  ... ADDR    구   주소  소속구
2407     202104   N15            N15번(사당역~우이동)  101000329  ...  NaN  NaN  NaN  NaN
2408     202104   506           506번(신림동~종로1가)  101000329  ...  NaN  NaN  NaN  NaN
2409     202104   603             603번(신월동~시청)  101000329  ...  NaN  NaN  NaN  NaN
2410     202104  702B  702번(B,용두초교방향,서오릉~종로1가)  101000329  ...  NaN  NaN  NaN  NaN
2411     202104   N15            N15번(우이동~사당역)  101000329  ...  NaN  NaN  NaN  NaN
...         ...   ...                      ...        ...  ...  ...  ...  ...  ...
1168427  202012  9714          9714번(교하운정~서울역)  229000856  ...  NaN  NaN  NaN  NaN
1168428  202012  9714          9714번(교하운정~서울역)  229000857  ...  NaN  NaN  NaN  NaN
1168429  202012  9714          9714번(교하운정~서울역)  229000858  ...  NaN  NaN  NaN  NaN
1168430  202012  9714          9714번(교하운정~서울역)  229001662  ...  NaN  NaN  NaN  NaN
1168431  202012  9714          9714번(교하운정~서울역)  229001663  ...  NaN  NaN  NaN  NaN

[140315 rows x 65 columns]

In [15]:
big_df['소속구'].isnull().sum()

140315

In [16]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168432 entries, 0 to 1168431
Data columns (total 65 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용년월        1168432 non-null  int64
 1   노선번호        1168432 non-null  object
 2   노선명         1168432 non-null  object
 3   표준버스정류장ID   1168432 non-null  object
 4   버스정류장ARS번호  1168432 non-null  object
 5   역명          1168432 non-null  object
 6   00시승차총승객수   1168432 non-null  int64
 7   00시하차총승객수   1168432 non-null  int64
 8   1시승차총승객수    1168432 non-null  int64
 9   1시하차총승객수    1168432 non-null  int64
 10  2시승차총승객수    1168432 non-null  int64
 11  2시하차총승객수    1168432 non-null  int64
 12  3시승차총승객수    1168432 non-null  int64
 13  3시하차총승객수    1168432 non-null  int64
 14  4시승차총승객수    1168432 non-null  int64
 15  4시하차총승객수    1168432 non-null  int64
 16  5시승차총승객수    1168432 non-null  int64
 17  5시하차총승객수    1168432 non-null  int64
 18  6시승차총승객수    1168432 non-null  int64
 19  6시하차총승객수    1168432 non-null  int64
 20  7시승차총승객수    1168432 non-null  int64
 21  7시하차총승객수    1168432 non-null  int64
 22  8시승차총승객수    1168432 non-null  int64
 23  8시하차총승객수    1168432 non-null  int64
 24  9시승차총승객수    1168432 non-null  int64
 25  9시하차총승객수    1168432 non-null  int64
 26  10시승차총승객수   1168432 non-null  int64
 27  10시하차총승객수   1168432 non-null  int64
 28  11시승차총승객수   1168432 non-null  int64
 29  11시하차총승객수   1168432 non-null  int64
 30  12시승차총승객수   1168432 non-null  int64
 31  12시하차총승객수   1168432 non-null  int64
 32  13시승차총승객수   1168432 non-null  int64
 33  13시하차총승객수   1168432 non-null  int64
 34  14시승차총승객수   1168432 non-null  int64
 35  14시하차총승객수   1168432 non-null  int64
 36  15시승차총승객수   1168432 non-null  int64
 37  15시하차총승객수   1168432 non-null  int64
 38  16시승차총승객수   1168432 non-null  int64
 39  16시하차총승객수   1168432 non-null  int64
 40  17시승차총승객수   1168432 non-null  int64
 41  17시하차총승객수   1168432 non-null  int64
 42  18시승차총승객수   1168432 non-null  int64
 43  18시하차총승객수   1168432 non-null  int64
 44  19시승차총승객수   1168432 non-null  int64
 45  19시하차총승객수   1168432 non-null  int64
 46  20시승차총승객수   1168432 non-null  int64
 47  20시하차총승객수   1168432 non-null  int64
 48  21시승차총승객수   1168432 non-null  int64
 49  21시하차총승객수   1168432 non-null  int64
 50  22시승차총승객수   1168432 non-null  int64
 51  22시하차총승객수   1168432 non-null  int64
 52  23시승차총승객수   1168432 non-null  int64
 53  23시하차총승객수   1168432 non-null  int64
 54  등록일자        1168432 non-null  int64
 55  노선ID        465037 non-null   float64
 56  Unnamed: 0  1028117 non-null  float64
 57  ARS-ID      1028117 non-null  float64
 58  Busstop     1028117 non-null  object
 59  x           1028117 non-null  float64
 60  y           1028117 non-null  float64
 61  ADDR        0 non-null        float64
 62  구           1028117 non-null  object
 63  주소          1028117 non-null  object
 64  소속구         1028117 non-null  object
dtypes: float64(6), int64(50), object(9)
memory usage: 588.4+ MB