In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
# 데이터 불러오기
data_file = '/content/data/코로나(시도 정리).csv'
df = pd.read_csv(data_file)
df

         확진자수  지역  전일대비증감수  지역발생수 10만명당발생률                기준일
0      4378.0  검역       25    0.0        -  2021년 07월 05일 00시
1      1280.0  제주        6    5.0   190.83  2021년 07월 05일 00시
2      5317.0  경남       22   20.0   158.18  2021년 07월 05일 00시
3      4987.0  경북       13   10.0   187.30  2021년 07월 05일 00시
4      1670.0  전남        6    3.0    89.56  2021년 07월 05일 00시
...       ...  ..      ...    ...      ...                ...
8620     84.0  인천        0    0.0     2.84   2020년 4월 08일 00시
8621   6807.0  대구        4    4.0   279.38   2020년 4월 08일 00시
8622    125.0  부산        0    0.0     3.66   2020년 4월 08일 00시
8623    590.0  서울       12    5.0     6.06   2020년 4월 08일 00시
8624  10423.0  합계       39   16.0    20.10   2020년 4월 08일 00시

[8625 rows x 6 columns]

In [ ]:
data = df.copy()
data.head()

     확진자수  지역  전일대비증감수  지역발생수 10만명당발생률                기준일
0  4378.0  검역       25    0.0        -  2021년 07월 05일 00시
1  1280.0  제주        6    5.0   190.83  2021년 07월 05일 00시
2  5317.0  경남       22   20.0   158.18  2021년 07월 05일 00시
3  4987.0  경북       13   10.0   187.30  2021년 07월 05일 00시
4  1670.0  전남        6    3.0    89.56  2021년 07월 05일 00시

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8625 entries, 0 to 8624
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   확진자수      8625 non-null   float64
 1   지역        8625 non-null   object
 2   전일대비증감수   8625 non-null   int64
 3   지역발생수     8625 non-null   float64
 4   10만명당발생률  8625 non-null   object
 5   기준일       8625 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 404.4+ KB

In [ ]:
# 기준일 기준 내림차순 정렬
data = data.sort_values('기준일', ascending=False).reset_index(drop=True)
data

        확진자수  지역  전일대비증감수  지역발생수 10만명당발생률                기준일
0     4378.0  검역       25    0.0        -  2021년 07월 05일 00시
1     6896.0  인천       22   16.0   233.28  2021년 07월 05일 00시
2      578.0  세종        4    4.0   168.84  2021년 07월 05일 00시
3     3328.0  충북        3    3.0   208.08  2021년 07월 05일 00시
4     3881.0  충남       12   10.0   182.85  2021년 07월 05일 00시
...      ...  ..      ...    ...      ...                ...
8620    17.0  전북        0    0.0     0.94  2020년 04월 10일 00시
8621   352.0  검역        4    0.0        -  2020년 04월 10일 00시
8622    15.0  전남        0    0.0     0.80  2020년 04월 10일 00시
8623  1327.0  경북        7    7.0    49.84  2020년 04월 10일 00시
8624    46.0  세종        0    0.0    13.44  2020년 04월 10일 00시

[8625 rows x 6 columns]

In [ ]:
df['지역'].unique()

array(['검역', '인천', '세종', '충북', '충남', '경남', '전남', '강원', '전북', '경기', '경북',
       '울산', '부산', '대전', '합계', '서울', '제주', '대구', '광주'], dtype=object)

In [ ]:
df = df[df['지역']!='합계' ].copy()
df = df[df['지역']!='검역' ].copy()
df['행정구역(시군구)별'].unique()

In [ ]:
# plotly 설치
!pip install plotly
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [ ]:
df = data.copy()