<a href="https://colab.research.google.com/github/cabbi120101/TIL/blob/master/ML/2%EC%B0%A8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EB%A7%A4%EC%B6%9C%EC%B6%94%EC%A0%95%ED%95%98%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
# 2019년 상권 추정매출 데이터 불러오기
df_2019 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/멀티캠/머신러닝/2차프로젝트/매출추정자료/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv', encoding='cp949')
df_2019.head()

   기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
0     2019         1        A  ...            0                0   3
1     2019         1        A  ...            4                8   1
2     2019         1        R  ...            0                0   2
3     2019         1        A  ...            0                5   1
4     2019         1        A  ...           53                0   3

[5 rows x 80 columns]

In [33]:
# 2020년 상권 추정매출 데이터 불러오기
df_2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/멀티캠/머신러닝/2차프로젝트/매출추정자료/서울시우리마을가게상권분석서비스(상권-추정매출)_2020.csv',encoding='cp949')
df_2020.head()

   기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
0     2020         3        R  ...          100              200   2
1     2020         3        R  ...            0                0   1
2     2020         1        A  ...            0                0   2
3     2020         3        R  ...            0                0   3
4     2020         1        A  ...         2614             1690  19

[5 rows x 80 columns]

In [37]:
# 예측할 2020년 1분기까지의 데이터만 추출
df_2020_ss_1 = df_2020[df_2020['기준_분기_코드'] == 1]
df_2020_ss_1['기준_분기_코드'].copy().sort_values(inplace=True)
df_2020_ss_1.tail()

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
132173     2020         1        R  ...           85                0   1
132174     2020         1        R  ...            0                0   0
132175     2020         1        R  ...            0                0   2
132176     2020         1        R  ...            8                0   2
132177     2020         1        R  ...            0                0   1

[5 rows x 80 columns]

In [42]:
# test data 추출 (2020 년 데이터중 2분기 데이터)
test_2 = df_2020[df_2020['기준_분기_코드'] == 2]
test_2['기준_분기_코드'].copy().sort_values(inplace=True)
test_2.tail()

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
132316     2020         2        R  ...          711              842   8
132317     2020         2        R  ...            0               78   1
132318     2020         2        R  ...            0                7   1
132319     2020         2        U  ...           19               10   3
132320     2020         2        U  ...            5                5   8

[5 rows x 80 columns]

In [40]:
# train data 제작 2019년 1분기 부터 2020년 1분기까지
train_2020_1 = pd.concat([df_2019, df_2020_ss_1], axis=0)
train_2020_1.tail()

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
132173     2020         1        R  ...           85                0   1
132174     2020         1        R  ...            0                0   0
132175     2020         1        R  ...            0                0   2
132176     2020         1        R  ...            8                0   2
132177     2020         1        R  ...            0                0   1

[5 rows x 80 columns]

In [41]:
train_2020_1.head()

   기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
0     2019         1        A  ...            0                0   3
1     2019         1        A  ...            4                8   1
2     2019         1        R  ...            0                0   2
3     2019         1        A  ...            0                5   1
4     2019         1        A  ...           53                0   3

[5 rows x 80 columns]

In [10]:
df_all.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [11]:
df_all['기준_년_코드'].unique()

array([2019, 2020])

In [12]:
df_all['기준_분기_코드'].unique()

array([1, 2, 3, 4])

In [43]:
train_2020_1['서비스_업종_코드_명'].unique()

array(['예술학원', '노래방', '섬유제품', '시계및귀금속', '일반교습학원', '스포츠 강습', '수산물판매',
       '슈퍼마켓', '외국어학원', '문구', '네일숍', '치과의원', '한의원', '육류판매', '미용실',
       '호프-간이주점', '편의점', '의료기기', '화장품', '한식음식점', '분식전문점', '피부관리실',
       '치킨전문점', '의약품', '자동차수리', '커피-음료', '여관', '인테리어', '패스트푸드점', '핸드폰',
       '일반의원', '화초', '일반의류', '골프연습장', '전자상거래업', '반찬가게', 'PC방', '고시원',
       '미곡판매', '제과점', '운동/경기용품', '가방', '신발', '스포츠클럽', '중식음식점', '세탁소',
       '철물점', '애완동물', '컴퓨터및주변장치판매', '가전제품', '자동차미용', '청과상', '가구', '양식음식점',
       '당구장', '안경', '자전거 및 기타운송장비', '일식음식점', '서적', '부동산중개업', '조명용품',
       '가전제품수리', '완구'], dtype=object)

In [44]:
train_cof = train_2020_1[train_2020_1['서비스_업종_코드_명'] == '커피-음료']
train_cof.head()

     기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
39      2019         1        D  ...         4427             1491  11
40      2019         1        A  ...          477              153   3
65      2019         1        A  ...            4                0   2
90      2019         1        A  ...         2422             2920   4
153     2019         1        D  ...        11481             5472  15

[5 rows x 80 columns]