<a href="https://colab.research.google.com/github/cabbi120101/TIL/blob/master/ML/2%EC%B0%A8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EC%98%81%ED%99%94%EB%8B%98%EA%BA%BC_%EC%88%98%EC%A0%95Ver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rent = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/멀티캠/머신러닝/2차프로젝트/홍영화님/rent3.csv',index_col = 0)

In [3]:
rent.head(30)

      광역상권  하위상권    임대료   공실률  투자수익률  소득수익률  자본수익률    연도  분기
0     도심지역   광화문   66.1   1.0   1.98   1.48   0.49  2013   1
1     도심지역   동대문   34.0   5.8   1.27   1.10   0.17  2013   1
2     도심지역    명동  249.9   7.1   2.02   1.61   0.41  2013   1
3     도심지역   서울역   59.9   5.4   2.13   1.48   0.66  2013   1
4     도심지역    종로   87.0   8.5   1.70   1.62   0.08  2013   1
5     도심지역   충무로   28.6   9.1   1.73   1.00   0.73  2013   1
6     강남지역  강남대로  128.6   4.3   1.35   1.10   0.25  2013   1
7     강남지역  도산대로   43.8   5.7   1.53   0.78   0.75  2013   1
8     강남지역    서초   30.7  18.8   1.27   1.07   0.20  2013   1
9     강남지역   신사역   75.4   7.9   2.05   1.07   0.98  2013   1
10    강남지역  압구정동   51.5   3.1   1.69   0.97   0.72  2013   1
11    강남지역    청담   67.4   2.0   1.32   0.85   0.47  2013   1
12    강남지역  테헤란로   47.0  14.4   1.70   1.08   0.63  2013   1
13  신촌마포지역   공덕역   36.6   5.3   1.59   1.39   0.21  2013   1
14  신촌마포지역  신촌이대   58.2   5.1   1.38   1.20   0.18  2013   1
15  신촌마포지역  홍대합정   44.1   7.7   1.57   1.40   0.17  2013   1
16    기타지역  건대입구   49.3   4.4   1.65   0.97   0.68  2013   1
17    기타지역   경희대   49.3   2.8   1.50   1.15   0.35  2013   1
18    기타지역    군자   38.7   5.1   1.28   1.12   0.16  2013   1
19    기타지역    목동   30.6   4.4   1.44   1.16   0.28  2013   1
20    기타지역    사당   50.9   1.0   2.13   1.50   0.63  2013   1
21    기타지역  성신여대   40.7   2.9   1.68   1.16   0.52  2013   1
22    기타지역    수유   58.9   4.6   1.53   1.28   0.24  2013   1
23    기타지역    신림   50.4   4.3   1.36   1.05   0.31  2013   1
24    기타지역  영등포역   33.3   7.0   1.35   1.07   0.28  2013   1
25    기타지역   용산역   36.9   3.6   1.70   1.72  -0.02  2013   1
26    기타지역   이태원   45.3   3.3   1.40   1.25   0.16  2013   1
27    기타지역    잠실   42.2   9.2   0.99   0.90   0.09  2013   1
28    기타지역   장안동   26.1   3.9   1.47   1.16   0.31  2013   1
29    기타지역    천호   36.5   3.6   1.42   1.19   0.23  2013   1

In [4]:
rent_기타 = rent[rent['광역상권']=='기타지역']
rent_기타.head()

    광역상권  하위상권   임대료  공실률  투자수익률  소득수익률  자본수익률    연도  분기
16  기타지역  건대입구  49.3  4.4   1.65   0.97   0.68  2013   1
17  기타지역   경희대  49.3  2.8   1.50   1.15   0.35  2013   1
18  기타지역    군자  38.7  5.1   1.28   1.12   0.16  2013   1
19  기타지역    목동  30.6  4.4   1.44   1.16   0.28  2013   1
20  기타지역    사당  50.9  1.0   2.13   1.50   0.63  2013   1

In [5]:
rent_이외 = rent[rent['광역상권']!='기타지역']
rent_이외.head()

   광역상권 하위상권    임대료  공실률  투자수익률  소득수익률  자본수익률    연도  분기
0  도심지역  광화문   66.1  1.0   1.98   1.48   0.49  2013   1
1  도심지역  동대문   34.0  5.8   1.27   1.10   0.17  2013   1
2  도심지역   명동  249.9  7.1   2.02   1.61   0.41  2013   1
3  도심지역  서울역   59.9  5.4   2.13   1.48   0.66  2013   1
4  도심지역   종로   87.0  8.5   1.70   1.62   0.08  2013   1

In [6]:
# 기타지역을 평균으로 묶음
rent_기타mean = rent_기타.groupby(['연도','분기','광역상권'])[['임대료','공실률','투자수익률','소득수익률','자본수익률']].mean().reset_index()
rent_기타mean.head()

     연도  분기  광역상권        임대료       공실률     투자수익률     소득수익률     자본수익률
0  2013   1  기타지역  42.576471  5.147059  1.428824  1.162353  0.266471
1  2013   2  기타지역  42.629412  5.147059  1.178824  1.177647  0.000588
2  2013   3  기타지역  41.917647  6.276471  0.653529  0.880588 -0.226471
3  2013   4  기타지역  41.876471  6.600000  1.442941  1.123529  0.319412
4  2014   1  기타지역  42.000000  7.229412  1.477647  1.117059  0.358235

In [7]:
rent_기타mean = rent_기타mean.rename(columns={"광역상권": "하위상권"})

In [8]:
rent_all = pd.concat([rent_이외, rent_기타mean], axis=0)
rent_all.tail()

   광역상권  하위상권        임대료       공실률     투자수익률     소득수익률     자본수익률    연도  분기
29  NaN  기타지역  45.992593  7.381481  1.424444  0.797037  0.627407  2020   2
30  NaN  기타지역  45.840741  6.944444  1.360370  0.559259  0.802222  2020   3
31  NaN  기타지역  45.555556  7.829630  1.504074  0.771852  0.731111  2020   4
32  NaN  기타지역  44.666667  7.026667  1.849000  0.753333  1.096000  2021   1
33  NaN  기타지역  44.766667  7.070000  1.985333  0.743000  1.243333  2021   2

In [9]:
rent_all = rent_all.drop(['광역상권'], axis=1)

In [10]:
rent_all = rent_all[rent_all['연도'] != 2021]
rent_all

    하위상권         임대료       공실률     투자수익률     소득수익률     자본수익률    연도  분기
0    광화문   66.100000  1.000000  1.980000  1.480000  0.490000  2013   1
1    동대문   34.000000  5.800000  1.270000  1.100000  0.170000  2013   1
2     명동  249.900000  7.100000  2.020000  1.610000  0.410000  2013   1
3    서울역   59.900000  5.400000  2.130000  1.480000  0.660000  2013   1
4     종로   87.000000  8.500000  1.700000  1.620000  0.080000  2013   1
..   ...         ...       ...       ...       ...       ...   ...  ..
27  기타지역   45.730000  7.990000  2.221000  0.862000  1.359000  2019   4
28  기타지역   46.103704  7.211111  1.758889  0.812593  0.945926  2020   1
29  기타지역   45.992593  7.381481  1.424444  0.797037  0.627407  2020   2
30  기타지역   45.840741  6.944444  1.360370  0.559259  0.802222  2020   3
31  기타지역   45.555556  7.829630  1.504074  0.771852  0.731111  2020   4

[599 rows x 8 columns]

In [11]:
rent_all_oh = pd.get_dummies(rent_all, columns=["하위상권"])
rent_all_oh.head()

     임대료  공실률  투자수익률  소득수익률  ...  하위상권_청담  하위상권_충무로  하위상권_테헤란로  하위상권_홍대합정
0   66.1  1.0   1.98   1.48  ...        0         0          0          0
1   34.0  5.8   1.27   1.10  ...        0         0          0          0
2  249.9  7.1   2.02   1.61  ...        0         0          0          0
3   59.9  5.4   2.13   1.48  ...        0         0          0          0
4   87.0  8.5   1.70   1.62  ...        0         0          0          0

[5 rows x 34 columns]

In [12]:
train = rent_all_oh[rent_all_oh['연도'] != 2020]
train.tail()

          임대료       공실률     투자수익률  ...  하위상권_충무로  하위상권_테헤란로  하위상권_홍대합정
23  44.373684  6.826316  2.012105  ...         0          0          0
24  45.445000  7.495000  1.630500  ...         0          0          0
25  45.660000  7.140000  1.804500  ...         0          0          0
26  45.575000  7.220000  1.697500  ...         0          0          0
27  45.730000  7.990000  2.221000  ...         0          0          0

[5 rows x 34 columns]

In [13]:
test = rent_all_oh[rent_all_oh['연도'] == 2020]
test.head()

       임대료  공실률  투자수익률  소득수익률  ...  하위상권_청담  하위상권_충무로  하위상권_테헤란로  하위상권_홍대합정
982   81.7  2.3   1.17   1.06  ...        0         0          0          0
983   82.4  8.2   1.86   0.97  ...        0         0          0          0
984   41.2  9.8   1.15   0.75  ...        0         0          0          0
985  296.7  7.4   1.53   0.91  ...        0         0          0          0
986   62.7  9.9   1.79   0.92  ...        0         0          0          0

[5 rows x 34 columns]

In [14]:
# pip install pycaret

In [15]:
# pip install catboost

In [16]:
# pip install -U scikit-learn

In [17]:
from pycaret.classification import *
from pycaret.regression import *

In [18]:
reg = setup(data= train,
            target= '임대료',
            )

                               Description             Value
0                               session_id              3519
1                                   Target               임대료
2                            Original Data         (503, 34)
3                           Missing Values             False
4                         Numeric Features                31
5                     Categorical Features                 2
6                         Ordinal Features             False
7                High Cardinality Features             False
8                  High Cardinality Method              None
9                    Transformed Train Set         (352, 42)
10                    Transformed Test Set         (151, 42)
11                      Shuffle Train-Test              True
12                     Stratify Train-Test             False
13                          Fold Generator             KFold
14                             Fold Number                10
15                                CPU Jobs                -1
16                                 Use GPU             False
17                          Log Experiment             False
18                         Experiment Name  reg-default-name
19                                     USI              0e7c
20                         Imputation Type            simple
21          Iterative Imputation Iteration              None
22                         Numeric Imputer              mean
23      Iterative Imputation Numeric Model              None
24                     Categorical Imputer          constant
25  Iterative Imputation Categorical Model              None
26           Unknown Categoricals Handling    least_frequent
27                               Normalize             False
28                        Normalize Method              None
29                          Transformation             False
30                   Transformation Method              None
31                                     PCA             False
32                              PCA Method              None
33                          PCA Components              None
34                     Ignore Low Variance             False
35                     Combine Rare Levels             False
36                    Rare Level Threshold              None
37                         Numeric Binning             False
38                         Remove Outliers             False
39                      Outliers Threshold              None
40                Remove Multicollinearity             False
41             Multicollinearity Threshold              None
42             Remove Perfect Collinearity              True
43                              Clustering             False
44                    Clustering Iteration              None
45                     Polynomial Features             False
46                       Polynomial Degree              None
47                    Trignometry Features             False
48                    Polynomial Threshold              None
49                          Group Features             False
50                       Feature Selection             False
51                Feature Selection Method           classic
52            Features Selection Threshold              None
53                     Feature Interaction             False
54                           Feature Ratio             False
55                   Interaction Threshold              None
56                        Transform Target             False
57                 Transform Target Method           box-cox

AttributeError: ignored

In [19]:
best_5_l = compare_models(sort='MAE', n_select=5)

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
et,Extra Trees Regressor,1.016000e+00,5.103000e+00,2.021000e+00,9.982000e-01,0.0295,0.0156,0.454
dt,Decision Tree Regressor,1.710900e+00,2.284030e+01,4.322400e+00,9.909000e-01,0.0712,0.0282,0.015
rf,Random Forest Regressor,2.396800e+00,1.829030e+01,4.164600e+00,9.919000e-01,0.0657,0.0403,0.505
br,Bayesian Ridge,3.571600e+00,2.772690e+01,5.241100e+00,9.853000e-01,0.0785,0.0582,0.016
lr,Linear Regression,3.580200e+00,2.781980e+01,5.249300e+00,9.852000e-01,0.0786,0.0583,0.275
huber,Huber Regressor,3.774000e+00,4.252150e+01,6.434000e+00,9.782000e-01,0.0987,0.0613,0.048
catboost,CatBoost Regressor,3.849100e+00,4.768860e+01,6.502600e+00,9.799000e-01,0.0785,0.0588,1.196
gbr,Gradient Boosting Regressor,4.047100e+00,2.992210e+01,5.442800e+00,9.848000e-01,0.0958,0.0750,0.077
ridge,Ridge Regression,4.569700e+00,4.549430e+01,6.565500e+00,9.787000e-01,0.0934,0.0750,0.014
par,Passive Aggressive Regressor,5.961800e+00,6.299180e+01,7.589200e+00,9.671000e-01,0.1381,0.1080,0.016
omp,Orthogonal Matching Pursuit,1.043170e+01,1.682609e+02,1.292450e+01,9.105000e-01,0.2502,0.2119,0.014
ada,AdaBoost Regressor,1.254470e+01,2.255626e+02,1.498300e+01,8.695000e-01,0.2795,0.2540,0.031
lasso,Lasso Regression,1.388430e+01,2.568846e+02,1.596810e+01,8.602000e-01,0.2739,0.2627,0.014
knn,K Neighbors Regressor,2.256140e+01,1.411418e+03,3.669470e+01,3.860000e-01,0.3964,0.3518,0.064
llar,Lasso Least Angle Regression,2.273510e+01,9.364233e+02,3.044640e+01,5.642000e-01,0.3997,0.3915,0.013
en,Elastic Net,2.817190e+01,2.256339e+03,4.638660e+01,1.167000e-01,0.4733,0.4442,0.014
lightgbm,Light Gradient Boosting Machine,2.894860e+01,2.032339e+03,4.480030e+01,-3.440000e-02,0.4894,0.4374,0.081
lar,Least Angle Regression,2.403922e+07,1.138431e+16,3.375150e+07,-5.918265e+12,3.6612,439424.9947,0.018

In [22]:
blended_l = blend_models(estimator_list = best_5_l, fold = 5, optimize = 'MAE')
final_model_l = finalize_model(blended_l)
pred_esb_l = predict_model(final_model_l, test)

         MAE      MSE    RMSE      R2   RMSLE    MAPE
0     2.2435  10.9321  3.3064  0.9958  0.0549  0.0378
1     2.2819  10.7860  3.2842  0.9943  0.0535  0.0388
2     2.6368  17.5918  4.1943  0.9956  0.0593  0.0388
3     2.2249  13.3214  3.6499  0.9937  0.0599  0.0367
4     2.4161  15.5345  3.9414  0.9941  0.0571  0.0396
Mean  2.3606  13.6332  3.6752  0.9947  0.0569  0.0383
SD    0.1534   2.6376  0.3549  0.0009  0.0025  0.0010

In [23]:
pred_esb_l

             임대료       공실률     투자수익률  ...  하위상권_테헤란로  하위상권_홍대합정       Label
982    81.700000  2.300000  1.170000  ...          0          0   72.061176
983    82.400000  8.200000  1.860000  ...          0          0   88.064764
984    41.200000  9.800000  1.150000  ...          0          0   35.363813
985   296.700000  7.400000  1.530000  ...          0          0  269.702391
986    62.700000  9.900000  1.790000  ...          0          0   65.497123
...          ...       ...       ...  ...        ...        ...         ...
1154   73.300000  8.600000  1.430000  ...          0          1   51.826340
28     46.103704  7.211111  1.758889  ...          0          0   44.034704
29     45.992593  7.381481  1.424444  ...          0          0   43.314099
30     45.840741  6.944444  1.360370  ...          0          0   43.650196
31     45.555556  7.829630  1.504074  ...          0          0   43.640548

[96 rows x 35 columns]