In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'name' : ['kwon','park','kim'],
    'age' :  [30,np.nan,19],
    'class' : [np.nan,np.nan,1]
})

df.isnull()

    name    age  class
0  False  False   True
1  False   True   True
2  False  False  False

In [5]:
df. isnull().sum()

name     0
age      1
class    2
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   class   1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

In [9]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()